@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* definir o tema Dark do site */
:root, :root[data-theme='dark'] {
    /* definir cores padrão em variável */

    --primary-color: #f0f0f0; /* cor texto */
    --primary-bg-color: #111217; /* BG = Background */
    --secundary-bg-color:#C7c8c9;
    --primary-bonder-color: #28292e;
    --secundary-bonder-color: #56575a;

    /* definir cores padrão para os TEXTOS em variável */
    --title-color: #F0F0F0;
    --text-color: #9a9a9a;
    --link-color: #9a9a9a;
    --icon-color: #c7c8c9;
}
/* definir tema Light do site */
:root[data-theme='light']{

    --primary-color: #0b0b0f;
    --primary-bg-color: #9e9e9e;
    --secundary-bg-color: #C7c8c9; 
    --primary-bonder-color: #C7c8c9;
    --secundary-bonder-color: #9a9a9c;

    --title-color: #0b0b0f;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
}

html[data-theme='light'] .brand-logo {
    filter: invert(1);
}

/*  Reset CSS
    Padronizar Navegadores
 */

 *{
    margin: 0px; /* margem */
    padding: 0; /* espaçamento */
    vertical-align: baseline; /* alinhamento vertical */
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secundary-bg-color) transparent;
 }

 body {
    background: var(--primary-bg-color); /* plano de fundo */
    font-family: 'inter' , 'Tahoma' , 'Geneva' , 'sans-serif'; /* estilo de fonte que vai usar */
    color: var(--text-color); /* cor do texto */


 }