@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

/* variaveis para as cores */
:root {
    --fundo-menu-lateral:#274259;
    --ver-texto:#05F2F2;
    --azul:#02E0FF;
    --texto-claro:#C2F2F2;
    --verde-água:#05F2DB;
    --texto-opção:#4AC9DC;
    --fundo:#0F1526;
}

/* Mobile Menu */



/* css principal */
body {
    font-family: "open sans";
    color: var(--texto-claro);
    background: var(--fundo-menu-lateral);
}

a {
    color: var(--texto-claro);
    text-decoration: none;
}

a:hover {
    color: var(--ver-texto);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open sans";
}

/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: var(--fundo);
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
    overflow-y: auto;
}

.perfil img {
    margin: 35px auto;
    display: flex;
    width: 190px;
    border: 2px solid var(--ver-texto);
    box-shadow: 0px 0px 10px 5px var(--ver-texto);
}

.perfil h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    font-family: "open sans";
}

.perfil .social-links a {
    font-size: 20px;
    display: inline-block;
    background: var(--fundo-menu-lateral);
    color: var();
    line-height: 1;
    padding: 8px 2px;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 1s;
}

.perfil .social-links a:hover {
    background: var(--texto-claro);
    color: var(--fundo);
    text-decoration: none;
}

 /* principal */
#main {
    margin-left: 300px;
}

.conteiner,
.conteiner-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }

    .conteiner,
    .conteiner-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* menu nav desktop */
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: var(--fundo-menu-lateral);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.5s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus {
    font-size: 20px;
    padding-right: 15px;
    color: var(--fundo-menu-lateral);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover {
    text-decoration: none;
    color: var(--texto-claro);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--texto-claro);
}
/* fim do header */

/* nav mobile */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
    border: 0;
    font-size: 25px;
    transition: all 0.5s;
   /* outline: none !important; */
    background: var(--fundo);
    color: var(--azul);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Hero */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") bottom center; /* Inserir imagem no css */
    background-size: cover;
}

#hero::before { /* pseudo elemento css */
    content: "";
    background: rgba(5, 13, 26, 0.0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-size: 700;
    line-height: 56px;
    color: var(--texto-claro);
}

#hero p {
    color: var(--texto-opção);
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Open" sans-serif;
}

#hero p span {
    color: var(--texto-claro);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--fundo-menu-lateral);
}

@media(min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (min-width: 768px) {
    #hero h1 {
        font-size: 70px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    #hero p {
        font-size: 30px;
    }
}

/* CSS Geral */

section {
    padding: 60px 0;
}

.section-bg {
    background: var(--fundo);
}

.section-title {
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--ver-texto);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 55px;
    height: 3px;
    background: var(--ver-texto);
}

.section-title p {
    margin-bottom: 0;
}

/* sobre */
.sobre .conteiner h3 {
    font-size: 30px;
    font-weight: 500;
    color: var(--ver-texto);
}

.sobre .conteiner ul {
    list-style: none;
    padding: 0;
}

.sobre .conteiner ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sobre .conteiner ul strong {
    margin-right: 15px;
}

.sobre .conteiner ul i {
    font-size: 22px;
    margin-right: 10px;
    color: var(--ver-texto);
    line-height: 0;
}

/* Conquistas */
.conquistas {
    padding-bottom: 30px;
}

.conquistas .count-box {
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i{
    display: block;
    font-size: 45px;
    color: var(--ver-texto);
    float: left;
    line-height: 0;
}

.conquistas .count-box span {
    font-size: 50px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--texto-claro);
    margin-left: 60px;
} 

.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-size: 16px;
    font-family: 'Robote', sans-serif;
}

.conquistas .count-box i:hover {
    color: var(--ver-texto);
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills {
    color: var(--texto-claro);
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: var(--texto-claro);
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-bg {
    background: var(--texto-claro);
    height: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 10s;
    background: var(--ver-texto);
}

.resumo .resumo-titulo {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--ver-texto);
}

.resumo .resumo-item {
    padding: 0 0 20px 20px;
    /* margin-top: ; */
    border-left: 2px solid var(--ver-texto);
    position: relative;
}

.resumo .resumo-item h4 {
    line-height: 20px;
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: var(--azul);
    margin-bottom: 10px;
}

.resumo .resumo-item h5 {
    font-size: 16px;
    background: var(--texto-opção);
    color: var(--fundo-menu-lateral);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resumo .resumo-item ul {
    padding-left: 20px;
}

.resumo .resumo-item ul li {
    padding-bottom: 10px;
}

.resumo .resumo-item::before {
    /* :: Pseudo Elemento */
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--ver-texto);
    border: 2px solid var(--ver-texto);
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-filters {
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: var(--ver-texto);
    border-radius: 5px;
    padding: 2px 15px;
}

.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 9px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: var(--fundo-menu-lateral);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
    color: var(--fundo-menu-lateral);
} 

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    /*top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    inset: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: var(--fundo-menu-lateral);
    font-size: 30px;
    text-align: center;
    background: var(--texto-claro);
    transition: 0.3s;
    width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: var(--texto-claro);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 1px solid var(--fundo);
}

.portfolio .portfolio-wrap:hover::before {
    inset: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
}

/* portfolio pagina adicional */

/* voltar */

.servicos .icon-bx {
    margin-bottom: 20px;
}

.servicos .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--fundo);
    border-radius: 50%;
    margin-right: 12px;
    transition: 0.5s;
    border: 2px solid var(--ver-texto);
    box-shadow: 0 0 8px 2px var(--ver-texto);
}

.servicos .icon i {
    font-size: 35px;
    color: var(--ver-texto);
    line-height: 0;
}

.servicos .icon:hover {
    background: var(--texto-claro);
    transition: 0.5s;
}

.servicos .title {
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    color: var(--ver-texto);
}

.servicos .descricao {
    margin-left: 60px;
    line-height: 19px;
    font-size: 18px;
}

/* depoimentos // feedbacks // avaliações */

.depoimentos,
.depoimentos .depoimentos-slider {
    overflow: hidden;
}

.depoimentos .depoimento-item {
    text-align: center;
    min-height: 320px;
}

.depoimentos .depoimento-item .depoimento-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}

.depoimentos .depoimento-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--texto-claro);
}

.depoimentos .depoimento-item h4 {
    font-size: 14px;
    margin: 0;
    color: var(--ver-texto);
}

.depoimentos .depoimento-item .quote-left,
.depoimentos .depoimento-item .quote-right {
    color: var(--ver-texto);
    font-size: 26px;
}

.depoimentos .depoimento-item .quote-left {
    display: inline-block;
    position: relative;
    left: -5px;
}

.depoimentos .depoimento-item .quote-right {
    display: inline-block;
    position: relative;
    top: 10px;
    right: -5px;
}

.depoimentos .depoimento-item p {
    font-style: italic;
    color: var(--texto-claro);
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: var(--);
    position: relative;
    border-radius: 15px;
    box-shadow: 0 7px 20px var(--ver-texto);
    margin-bottom: 35px;
}

.depoimentos .depoimento-item p::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid var(--fundo);
    border-right: 20px solid transparent;
    border-left: 20px transparent;
}

.depoimentos .swiper-pagination {
    margin-top: 55px;
    position: relative;
}

.depoimentos .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: var(--ver-texto);
    border: 1px solid var(--texto-claro);
}

.depoimentos .swiper-pagination .swiper-pagination-active {
    background: var(--ver-texto);
}

/* Contato */

.contato {
    padding-bottom: 100px;
}

.contato .info {
    padding: 30px;
    background: var(--fundo);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(219, 215, 215, 0.495);
    border-radius: 17px;
}

.contato .info i {
    font-size: 22px;
    color: var(--ver-texto);
    float: left;
    width: 44px;
    right: 44px;
    background: var(--fundo);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.contato .info h4 {
    color: var(--ver-texto
    );
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contato .info p {
    color: var(--texto-claro);
    font-size: 16px;
    padding: 0 0 10px 60px;
    margin-bottom: 30px;
}

.contato .info .fone p:hover{
    color: var(--ver-texto);
}

/* Forms */

.contato .email-form {
    padding: 30px;
    background: var(--fundo);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(219, 215, 215, 0.495);
    border-radius: 17px;
}

.contato .email-form .form-group {
    padding-bottom: 15px;
}

.contato .email-form label {
    color: var(--ver-texto);
    margin-bottom: 2px;
    font-size: 16px;
}

.contato .email-form input,
.contato .email-form textarea {
    box-shadow: none;
    font-size: 16px;
}

.contato .email-form input {
    height: 40px;
}

.contato .email-form textarea {
    padding: 20px 15px;
}

.contato .email-form button[type=submit] {
    background: var(--fundo-menu-lateral);
    color: var(--ver-texto);
    border: 0;
    border-radius: 2px;
    padding: 10px 24px;
    transition: 0.4s;
}

.contato .email-form button[type=submit]:hover {
    background: var(--texto-claro);
}

/* back-to-top // voltar ao topo */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0; 
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    background: var(--fundo);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
}

.back-to-top i {
    color: var(--ver-texto);
    font-size: 30px;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--texto-claro);
}

.back-to-top:hover i {
    color: var(--fundo);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
/* -----breadcrumbs----- */


/* footer */
#footer {
    padding: 30px;
    color: var(--texto-claro);
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: var(--fundo);
}

#footer .copyright {
    text-align: center;
}

#footer .creditos {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    color: var(--texto-claro);
}

#footer .creditos a {
    color: var(--texto-claro);
}

@media (max-width:1199) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}