@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* definir o tema Dark do site */
:root, :root[data-theme='dark'] {
    /* definir cores padrão em variável */

    --primary-color: #f0f0f0; /* cor texto */
    --primary-bg-color: #111217; /* BG = Background */
    --secundary-bg-color:#C7c8c9;
    --primary-bonder-color: #28292e;
    --secundary-bonder-color: #56575a;

    /* definir cores padrão para os TEXTOS em variável */
    --title-color: #F0F0F0;
    --text-color: #9a9a9a;
    --link-color: #9a9a9a;
    --icon-color: #c7c8c9;
}
/* definir tema Light do site */
:root[data-theme='light']{

    --primary-color: #0b0b0f;
    --primary-bg-color: #9e9e9e;
    --secundary-bg-color: #C7c8c9; 
    --primary-bonder-color: #C7c8c9;
    --secundary-bonder-color: #9a9a9c;

    --title-color: #0b0b0f;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
}

html[data-theme='light'] .brand-logo {
    filter: invert(1);
}

/*  Reset CSS
    Padronizar Navegadores
 */

 *{
    margin: 0px; /* margem */
    padding: 0; /* espaçamento */
    vertical-align: baseline; /* alinhamento vertical */
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secundary-bg-color) transparent;
 }

 body {
    background: var(--primary-bg-color); /* plano de fundo */
    font-family: 'inter' , Tahoma, Geneva, sans-serif; /* estilo de fonte que vai usar */
    color: var(--text-color); /* cor do texto */
 }

a {
    text-decoration: none; /* none = nenhum */
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
}

i {
    color: var(--icon-color); 
}

b {
    font-weight: 400;
}

h1 {
    font-size: 2.5rem; /* tamanho pra fonte */
    font-weight: 200;
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
}

h3 {
    font-size: 1.55rem;
    text-align: left;
}

h4 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1,15rem;
    text-align: left;
}

h1, h2, h3 {
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}

p {
    text-align: justify;
}

p, span, li {
    font-size: 1rem;
}

.header {
    display: flex; /* forma de como os projetos são posicionados */
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* comprimento */
    padding: 0.5rem 1rem; /* primeiro valor pra cima e para baixo, segundo valor pra esquerda e direita, tudo isso em sentido horário*/
    z-index: 2; /* sobreposição */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}

.header-brand .brand-logo {
    width: 3.25rem;/* comprimento */   /* 3.25rem = 52px */
    height: 3.25rem; /* altura */
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu { /* UL */
    display: flex;
    align-items: center; /* alinhar itens */
    background-color: var(--primary-bg-color);
}

.menu-principal {
    gap: 1rem;
}
.menu-item {
    width: 100%;
}

.menu-link { /* Estrutura Li */
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-link.active,
.menu-link:hover {
    color: var(--primary-color);
}

.menu-text { /* TAG span */
    font-size: .75rem;
    text-transform: uppercase;
}

